In [1]:
a=10.0234
print(type(a))
print(a)

<class 'float'>
10.0234

In [ ]:
age=21
print(type(age))
print(age)

In [ ]:
phno=6302796506
print(type(phno))
print(phno)

In [ ]:
sen='''my sir name is kashinath
he explains python programming language,
in the training institute located in jntu,
the way he explains is so lagggg but good explanation.'''
print(sen)

In [ ]:
s=1010,1020,1030
print(bool(1020))

In [ ]:
a=None
print(type(a))
print(a)

In [ ]:
var="hello i'm jack sparrow"
print(type(var))
print(var)

In [ ]:
str='bindu\'s "laptop"'
print(str)

In [ ]:
sal=75000.00
print(type(sal))
print(sal)

In [ ]:
x=2+3j
print(type(x))
print(x)

In [ ]:
str="saisiva"
s=str[0]
print(s)

In [ ]:
st="sindhu"
print(st[0])
print(st[2])
print(st[4])
print(st[-1])
print(st[-4])

In [ ]:
s=[1,1,1,2,2,2,3,4,5,5,7,7,7]
print(type(s))
print(s)

In [ ]:
st="chandana"
st[0]="a"
st="ahandana"
print(st)

In [ ]:
st="hero"
st="aero"
print(st)

In [ ]:
l1=[10,
30,40,55,
69,]
print(type(l1))
print(l1)

In [ ]:
l2=[1,1,2,2,2,3,3,3,34,4,4,4,4,4]
print(l2)

In [ ]:
li=["bindu","sindhu",25,35]
print(li)

In [ ]:
t=(1,23,25,"qspiders")
print(type(t))
print(t)

In [ ]:
t=(25,
35,46,49,32,
4)
print(t)

In [ ]:
l=[1,2,3,4,5,"swapna"]
print(type(l))
print(l)

In [ ]:
l=[100,200,300,4000]
print("Before modification",l)
l[0]=1000
print("After modification",l)

In [ ]:
l=[[1,2,3],"bindu","meghana",[25,35,45]]
print(l[0])
print(l[0][2])
print(l[1])
print(l[1][3])
print

In [2]:
t=(1,2,3)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3)

In [3]:
t=(1,)
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [5]:
s={1,2,3}
print(s)
print(type(s))
print(s[1])

{1, 2, 3}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [7]:
s={1,1,1,2,2,23,5,5,55,67,77,77,8,9,}
print(s)

{1, 2, 67, 5, 8, 9, 77, 55, 23}

In [8]:
s2={"raja",[1,2,3,4]}
print(s2)

TypeError: unhashable type: 'list'

In [10]:
d={ }
print(type(d))
print(d)

<class 'dict'>
{}

In [5]:
d1={1:100,2:200,1:1000}
print(d1)
print(d1[1])
print(d1[2])

{1: 1000, 2: 200}
1000
200

In [7]:
d2={"name":"Bindu","age":20}
print(d2["name"])
print(d2["age"])

Bindu
20

In [11]:
d3={1:[100,200,300]}
print(d3[1])
print(d3[1][0])
print(d3[1][2])

[100, 200, 300]
100
300

In [3]:
d4={1:["apple","banana"]}
print(d4[1][0])
print(d4[1][1])

apple
banana

In [13]:
import keyword
for i in keyword.kwlist:
    print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [16]:
#CRUD OPERATIONS ON LIST
#CREATING
l1=[]
print(l1)
l2=[1,2,2,3,56,4]
print(l2)

[]
[1, 2, 2, 3, 56, 4]

In [22]:
#READING
# reading complete list
l2=[1,2,"raja",4]
print(l2)
print(id(l2))
l3=l2
print(l3)
print(id(l3))
#reading single element
print(l2[1])
print(l2[1]+l2[0])
print(l2[2][2])

[1, 2, 'raja', 4]
2025165257344
[1, 2, 'raja', 4]
2025165257344
2
3
j

In [23]:
#Updating a list
l=[1,2,3]
print(id(l))
l=[11,22,33]
print(id(l))

2025165148416
2025165290496

In [26]:
l1=[10,30,60,90]
print(id(l1))
l1[0]=20
print(l1)
print(id(l1))
l1[1]=l1[-1]
print(l1)

2025165256192
[20, 30, 60, 90]
2025165256192
[20, 90, 60, 90]

In [30]:
l1=[100,200,300,400]
print(id(l1))
l2=l1
l2[0]=101
print(l2)
print(id(l2))

2025159736896
[101, 200, 300, 400]
2025159736896

In [31]:
#delete a list
l3=[1,2,3]
del l3
print(l3)

NameError: name 'l3' is not defined

In [32]:
l=[1,2,3,4,5]
del l[-1]
print(l)

[1, 2, 3, 4]