In [19]:
#Arithmetic operators
#addition
a=10
b=20
sum=a+b   #storing
print(sum)  
print(a+b)  #printing

30
30

In [11]:
num1=20
num2=40
num3=10.26
num4=125+2j
b=True
print("The sum is :",num1+num2)
print("The sum is :",num1+num2+num3)
print("The sum is :",num1+num2+num4)
print("The sum is :",b+num4)
print("The sum is :",num2+num4)

The sum is : 60
The sum is : 70.26
The sum is : (185+2j)
The sum is : (126+2j)
The sum is : (165+2j)

In [15]:
st="Hima"
st1="bindu"
print(st+st1)

Himabindu

In [16]:
st="sai"
a=12
print(st+a)

TypeError: can only concatenate str (not "int") to str

In [17]:
l=[1,2,3]
l1=[10,20,30]
print(l+l1)

[1, 2, 3, 10, 20, 30]

In [18]:
t=(35,46,89)
t1=(21,40,5509)
print(t+t1)

(35, 46, 89, 21, 40, 5509)

In [26]:
#subtraction
num1=75
num2=20
num3=40.25
num4=10+2j
b=False
print("The result is :",num1-num2)
print("The result is :",num1-num2-num3)
print("The result is :",num1-num2-num4)
print("The result is :",num1-num4)
print("The result is :",num3-num4)
print("The result is :",num4-b)

The result is : 55
The result is : 14.75
The result is : (45-2j)
The result is : (65-2j)
The result is : (30.25-2j)
The result is : (10+2j)

In [31]:
#multiplication
num1=12
num2=5
num3=32.3
num4=10+2j
print("The prod is :",num1*num2)
print("The prod is :",num1*num2*num3)
print("The prod is :",num1*num3)
print("The prod is :",num3*num4)
print("The prod is :",num4*num2)

The prod is : 60
The prod is : 1937.9999999999998
The prod is : 387.59999999999997
The prod is : (323+64.6j)
The prod is : (50+10j)

In [34]:
name="siva"
print(name*5)
print(name*2.5)

sivasivasivasivasiva

TypeError: can't multiply sequence by non-int of type 'float'

In [35]:
l=[1,2,45,67,89]
print(l*3)

[1, 2, 45, 67, 89, 1, 2, 45, 67, 89, 1, 2, 45, 67, 89]

In [37]:
t=(1,2,3,4,5)
print(t*10)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [43]:
#Division
num1=20
num2=3
num3=15.3
num4=10+2j
print(num1/num2)
print(num1/num3)
print(num1/num4)
print(num3/num4)
print(12/50)

6.666666666666667
1.3071895424836601
(1.923076923076923-0.3846153846153846j)
(1.4711538461538463-0.2942307692307693j)
0.24

In [3]:
#Floor division
num1=20
num2=10
print(num1/num2)
print(num1//num2)
print(26//9)

2.0
2
2

In [6]:
#modulus
a=10
b=3
print(a%b)
print(1%2)
print(12%30)
print(30%12)

1
1
12
6

In [8]:
#power
n=4
v=3
print(n**v)
print(12**6)

64
2985984

In [17]:
#Relational opeartors
#greater 
a=10
b=20
s=a>b
print(s)
print(10.0>10)
print(10.5>10)
print("bindu">"sindhu")
print("bindu">1)

False
False
True
False

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
st="abc"
st1="ABCD"
print(st>st1)

True

In [22]:
st="python"
st1="java"
print(st>st1)
print("raja">"rani")
print([1,2,3]>[2,3,4])
print([1,2,3]>[1,1])

True
False
False
True

In [24]:
s={1,2,3,4,5}
s1={1,3,5}
s2={5,6}
print(s>s1)
print(s>s2)

True
False

In [31]:
#less than
print(20<10)
print(20.0<20)
print("ab"<"abc")
print("bindu"<"Sindhu")
print([100,200,300]<[1010,2020])

False
False
True
False
True

In [34]:
#greater than equals
print(10>=10.0)
print(15>=12.5)
print("raja">"rani")

True
True
False

In [1]:
num=25
res=num>10
print(res)

True

In [8]:
num=49
res=(num%2==1)
print(res)

True

In [5]:
ch="c"
lowercase=(ch>="a" and ch<="z")
ascii=ord(ch)
res=lowercase and ascii%2==0
print(res)

False

In [8]:
num=50
res=num%2==0 and (num>40 and num<70)
print(res)

True

In [10]:
num=104
res=num%2==0 and num>97
print(res)

True

In [14]:
num=91
res=(num<122 and num>48) and num%4==0
print(res)

False

In [17]:
num=65
res=num%3==0 and num%5==0
print(res)

False

In [19]:
ch="a"
res=(ch>="A" and ch<="Z")
print(res)

False

In [29]:
num=12758
lastdigit=num%10
res=(lastdigit%4==0)
print(res)

True

In [1]:
num=-2
res=num>0
print(res)

False

In [43]:
num=72
a=num>60 and num<130
ld=num%10
d=(num%3==0 and num%4==0 and num%ld==0)
res=a and d
print(res)

True

In [7]:
ch="2"
res=(ch>="0" and ch<="9")
print(res)

True

In [10]:
print(128%10)
print(128//10)

8
12

In [13]:
a=10
b=10
st="python"
print(a==b)
print(a!=b)
print(st==a)

True
False
False

In [16]:
st="hima"
l=[1,2,3,"hima"]
print(l==st)
print(l[-1]==st)
print(len(st)==4)

False
True
True